.login{
  margin-top:50px;
  margin-left:40px;
  padding: 50px;
  position: relative;
}
.homeimg{
  padding:20px 0px;
}
.register-color{
  color:red;
  padding-left:10px;
  font-size:20px;
  text-decoration: none;
}
.login-size{
  padding:6px 20px;
  margin-top: 20px;
}
.right-side{
  padding-top:70px;
}
.forget{
  padding-right:220px;
}
.social-media img{
   margin:20px 5px;
}
.password-css{
  padding-top: 20px;
}
.text-register{
  padding-top:20px;
  padding-bottom: 10px;
}
h1{
  padding-left: 20px;
}
.regtext{
  color:blue
}
.regi{
  text-decoration: none;

}